{% extends 'vylety/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profily</title>
</head>
<body>
{% block title %}Profily{% endblock %}

{% block content %}

<!-- Navigační lišta -->
    <div class="navbar">
        {% if user.is_authenticated %}
            Přihlášen jako <strong>{{ user.username }}</strong> | <a href="{% url 'logout' %}">Odhlásit</a>
        {% else %}
            <a href="{% url 'login' %}">Přihlášení</a>
            <a href="{% url 'register' %}">Registrace</a>
        {% endif %}
    </div>

<h2>Uživatelské profily</h2>
<p>Informace o uživatelích...</p>
{% endblock %}
</body>
</html>