{% extends 'vylety/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komentare</title>
</head>
<body>
{% block title %}Komentare{% endblock %}

{% block content %}

<!-- Navigační lišta -->
    <div class="navbar">
        {% if user.is_authenticated %}
            Přihlášen jako <strong>{{ user.username }}</strong> | <a href="{% url 'logout' %}">Odhlásit</a>
        {% else %}
            <a href="{% url 'login' %}">Přihlášení</a>
            <a href="{% url 'register' %}">Registrace</a>
        {% endif %}
    </div>

<h2>Komentáře podle výletů</h2>
{% for vylet in vylety %}
    <h3>{{ vylet.name }}</h3>
    <div>
        {% for komentar in vylet.komentare.all %}
            <div>
                {{ komentar.uzivatel.username }}: {{ komentar.text }} ({{ komentar.datum|date:"d.m.Y H:i" }})
            </div>
        {% empty %}
            <div>Žádné komentáře.</div>
        {% endfor %}
    </div>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>