{% extends 'vylety/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Komentare</title>
</head>
<body>
{% block title %}Komentare{% endblock %}

{% block content %}

<!-- Navigační lišta -->
    <div class="navbar">
        {% if user.is_authenticated %}
            Přihlášen jako <strong>{{ user.username }}</strong> | <a href="{% url 'logout' %}">Odhlásit</a>
        {% else %}
            <a href="{% url 'login' %}">Přihlášení</a>
            <a href="{% url 'register' %}">Registrace</a>
        {% endif %}
    </div>

<h2>Všechny komentáře</h2>
<ul>
    {% for komentar in komentare %}
        <li>
            {{ komentar.uzivatel.username }} k výletu {{ komentar.vylet.name }}: {{ komentar.text }} ({{ komentar.datum|date:"d.m.Y H:i" }})
        </li>
    {% empty %}
        <li>Žádné komentáře.</li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>