<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'vylety/style.css' %}">

</head>
<body>
    <!--<h2>Přihlášení</h2>
    <form method="post">
        {% csrf_token %}
        <label>Uživatelské jméno:</label>
        <input type="text" name="username" required>
        <br>
        <label>Heslo:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Přihlásit se</button>
    </form>
    <p>Nemáte účet? <a href="{% url 'register' %}">Registrujte se</a></p>
    -->

 <div class="auth-container">
        <h2>Přihlášení</h2>

         <!-- Zobrazení chybových zpráv -->
        {% if messages %}
            <script>
                window.onload = function() {
                    {% for message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                };
            </script>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Uživatelské jméno" required>
            <input type="password" name="password" placeholder="Heslo" required>
            <button type="submit">Přihlásit se</button>
        </form>
        <p>Nemáte účet? <a href="{% url 'register' %}">Registrujte se</a></p>
    </div>
</body>
</html>
